<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net451" />
  <package id="WixToolset.Dtf.WindowsInstaller" version="4.0.2" targetFramework="net472" />
  <package id="WixToolset.Mba.Core" version="4.0.2" targetFramework="net472" />
</packages>