<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="AppName" value="{$AppName}" />
    </appSettings>
    <connectionStrings>
        <add name="Server1" connectionString="{$ConnectionString}" providerName="{$ProviderName}" />
    </connectionStrings>
</configuration>